:host
  display: flex
  align-items: center
  justify-content: center
  margin: 20px 10px 0 0

span
  margin-right: 10px /* Adjust spacing between text and link */

a
  color: blue /* Set link color */
  text-decoration: underline /* Underline link */
  cursor: pointer /* Show pointer on hover */
