.post-title-container
  display: flex
  justify-content: space-between
  align-items: center

.user-team-container
  list-style-type: none
  margin: 0
  padding: 0
  display: flex
  justify-content: space-between
  width: 40%
  text-align: center
  font-size: 0.8rem

.user-team-container li
  padding: 0.5rem

.user-team-container li:first-child
  background-color: rgba(230, 237, 243, 0.3)
  color: #0d1117
  border-radius: 5px
  border: 1px solid #0d1117
  font-style: 1rem

.post-content
  margin: 0















