<app-back-button (click)="goBack()"/>
<app-unexpected-error *ngIf="wasAnError" [errorMessage]="errorMessage"></app-unexpected-error>
<div *ngIf="!wasAnError">
  <form [formGroup]="postForm" class="post-form-container" (ngSubmit)="onSubmit()">
    <div class="lisu-form-group">
      <label for="title" class="post-form-title-label">Title:<app-required-field *ngIf="titleControl?.invalid"/></label>
      <textarea formControlName="title" id="title" placeholder="Write your title here..."></textarea>
    </div>
    <div class="lisu-form-group">
      <label for="content" class="post-form-content-label">Content:<app-required-field *ngIf="contentControl?.invalid"/></label>
      <textarea formControlName="content" id="content" placeholder="Write your content here..."></textarea>
    </div>
    <div class="access-form-container">
      <div class="access-form-titles">
        <h2>Category</h2>
        <h2>Access</h2>
      </div>
      <app-permission-form
      category="Public"
      [defaultPermission]="readPermission"
      ></app-permission-form>
      <app-permission-form
      category="Authenticated"
      [defaultPermission]="readPermission"
      ></app-permission-form>
      <app-permission-form
      category="Team"
      [defaultPermission]="editPermission"
      ></app-permission-form>
      <app-permission-form
      category="Owner"
      [defaultPermission]="editPermission"
      ></app-permission-form>
    </div>
    <p *ngIf="successMessage" class="success-message">{{ successMessage }}</p>
    <div class="two-option-buttons post-submit-buttons">
      <button type="submit" [disabled]="!postForm.valid">Save</button>
      <button type="button" (click)="onCancel()">Cancel</button>
    </div>
  </form>
</div>
