<nav>
  <div class="nav-item">
    <a routerLink="/home">
      <img src="../../../assets/Logo_Horizontal_Navbar_Without_Text.png" alt="">
    </a>
    <div>
      <h1 class="main-title-bold">Avanza</h1>
      <h1 class="main-title">Tech</h1>
      <h1 class="main-title-bold">Blog</h1>
    </div>
  </div>
  <div id="nav-action-container" class="nav-item">
    <div *ngIf="isAuthenticated" class="welcome-logout-container">
      <h1 class="welcome-message">Welcome, {{ firstName }}</h1>
      <fa-icon *ngIf="!isIconDisabled" [icon]="logoutIcon" (click)="onLogout()"></fa-icon>
    </div>
    <div *ngIf="!isAuthenticated">
      <a routerLink="/login">Login</a>
      <a routerLink="/signup">Register</a>
    </div>
  </div>
</nav>
