.main-title-bold
  display: inline
  font-weight: bold

.main-title
  display: inline
  font-weight: normal

.logo-container
  display: flex
  align-center: center

.logo-container div
  margin: 1rem

.user-info
  display: flex
  align-items: center

nav
  display: flex
  justify-content: space-between
  align-items: center
  padding: 0.7rem 2rem 0.7rem 1rem
  border-bottom: 1px solid #7d7d7d

nav img
  width: 80px
  height: auto

nav a
  text-decoration: none
  margin-left: 20px /* Adjust the spacing between links */
  color: white


