<div class="like-comment-home-item">
  <div
      *ngIf="showLikedBy"
      [ngClass] = "{'floating-message': !isPostDetail, 'floating-message-post-detail': isPostDetail}"
  >
    Liked by:
    <div *ngFor="let user of likedBy">- {{ user }}</div>
    <mat-paginator
      *ngIf="likeCounter > pageSize"
      class="like-paginator"
      [length]="likeCounter"
      [pageSize]="pageSize"
      [hidePageSize]="true"
      (page)="handlePageChange($event)"
    ></mat-paginator>
  </div>
  <p
    *ngIf="likes"
    (click)="showLikes()"
    [style.cursor] = "mousePointer"
    class="like-counter">
    {{likeCounter}} Like{{likePlural}}
  </p>
  <p *ngIf="!likes">Loading...</p>
</div>
