@use '@angular/material' as mat
@include mat.core()

@font-face
  font-family: 'Domine'
  src: url('./assets/fonts/Domine-Regular.ttf')

$background-color-default: #0d1117
$color-default: #e6edf3

body
  background-color: $background-color-default
  color: $color-default
  margin: 0
  padding: 0
  font-family: 'Domine'

a
  text-decoration: none
  color: #64a1f6

a:hover
  text-decoration: underline

fa-icon:hover
  cursor: pointer

.two-option-buttons
  display: flex
  justify-content: space-around

.two-option-buttons button
  padding: 10px 20px
  border-radius: 5px
  cursor: pointer

.two-option-buttons button[type="submit"]:disabled
  background-color: #ccc
  color: #888
  cursor: not-allowed

.two-option-buttons button[type="submit"]
  background-color: #007bff
  color: #fff

.two-option-buttons button[type="submit"]:hover
  background-color: #0056b3

.two-option-buttons button:not([type="submit"])
  background-color: #f8f9fa
  color: #000

.two-option-buttons button:not([type="submit"]):hover
  background-color: #e2e6ea

.form-required
  color: #dc3545

.lisu-form-group
  margin-bottom: 20px
  width: 100%
  label
    display: block
    margin-bottom: 5px

  input[type="text"],
  input[type="email"],
  input[type="password"],
  textarea
    width: 100% // Make inputs fill the entire width of the container
    padding: 10px // Adjust as needed for input padding
    border: 1px solid #ccc // Example border style
    border-radius: 5px // Example border radius
    box-sizing: border-box // Ensure padding and border are included in width

.lisu-form-container
  margin: 0 auto // Center the form container
  width: 20% // Adjust as needed for form width
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  border: 1px solid white
  padding: 2rem
  border-radius: 5px

.password-required span
  display: block
  color: #cfcfcf
  font-style: italic

.lisu-h1
  position: absolute
  top: -4rem
  left: 50%
  transform: translateX(-50%)
  width: 100%
  font-size: 1.8rem

.like-comment-home-item
  margin: 0 1rem 0 0
  position: relative

.phtitle-h1
  font-size: 1.7rem

.post-from-title-label, .post-fromcontent-label
  font-weight: bold
  font-size: 1.2rem

.post-submit-buttons
  justify-content: right

.post-submit-buttons button
  margin: 0 0 5rem 2rem

.post-form-container
  padding: 0 0 1rem 0
  margin: 2rem 7rem 0rem 7rem

.access-form-container
  border: 1px solid #e0e0e0
  border-radius: 10px
  margin-bottom: 2rem

.access-form-titles
  padding: 0rem 8rem
  font-size: 1.5rem
  font-weight: 500
  color: #e0e0e0
  display: flex
  justify-content: space-between
  align-items: center

.success-message
  font-weight: bold
  font-size: 1.2rem
  color: #46d65e
  margin: 0 0 1rem 0
  text-align: center
