<div class="post-content-container" *ngFor="let post of posts">
  <app-post-content [post]="post"></app-post-content>
  <div class="post-actions-container">
    <div class="like-comment-container">
      <app-like-counter (pageChange)="handleLikePageChange($event, post)" [likes]="post.likes"></app-like-counter>
      <app-comment-counter [comments]="post.comments" [postId]="post.id"></app-comment-counter>
    </div>
    <div class="interaction-bar-container">
      <li *ngIf="isAuthenticated">
        <app-like-action (likeClicked)="handleLikeAction($event, post.id)"
        [isLiked]="post.likedByAuthenticatedUser"></app-like-action>
      </li>
      <li *ngIf="isAuthenticated">
        <app-comment-action [postId]="post.id"></app-comment-action>
      </li>
      <li *ngIf="post.canEdit">
        <app-edit-action [postId]="post.id"></app-edit-action>
      </li>
      <li *ngIf="post.canEdit">
        <app-delete-action (click)="openDeleteConfirmationPopUp(post.id, post.title)"></app-delete-action>
      </li>
    </div>
  </div>
</div>
<mat-paginator
  *ngIf="count > pageSize"
  class="post-paginator"
  [length]="count"
  [pageSize]="pageSize"
  [hidePageSize]="true"
  (page)="handlePostPageChange($event)"
></mat-paginator>
