.post-content-container
  border-bottom: 0.1rem dashed #e0e0e0
  padding: 0 0 1rem 0
  margin: 2rem 7rem 0rem 7rem

.post-actions-container
  display: flex
  align-items: center
  margin: 1rem 0 0 0
  justify-content: space-between

.like-comment-container
  display: flex
  align-items: center
  justify-items: center
  justify-content: space-around

.interaction-bar-container
  align-items: center
  display: flex
  justify-content: space-around
  align-items: center

.interaction-bar-container li
  list-style-type: none
  margin: 0 1rem

